@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


html, body {
  max-width: 100vw;
  max-height: 100vw;
}

body {
  background-image: url("Img/bg.jpg"), url("Img/team.jpg");
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-break: break-word;
  font-family: 'Domine', apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

*, *:after, *:before {
	box-sizing: border-box;
  transition: 0.3s;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #252424;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #252424;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #252424;
}
:-moz-placeholder { /* Firefox 18- */
  color: #252424;
}

.app {
  text-align: center;
  overflow-wrap: break-word;
}


.header {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 5em;
  position: fixed;
}

.team-all {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title {
  font-size: 2vw;
}

.team-list {
  width: 100%;
  margin: 0 auto;
  z-index: 15;
}

.team-list ul {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
}

.list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16vw; 
  box-shadow: 0 0 15px rgb(0 0 0 / 8%);
  justify-content: flex-start;
  border-radius: 10% 0 10% 0;
  background-color: white;
  margin: 10px;
  position: relative;
}


.list-item::before {
content: "";
border-radius: 10% 0 10% 0;
background: rgba(0, 0, 0, 0);
color: rgba(255, 255, 255, 0);
font-size: .2vw;
}

.list-item:hover .list-item h2 .list-item h3 .list-item p
.item-avatar {
  pointer-events: none;
}

.list-item:hover::before {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10% 0 10% 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "Click to Remove";
  color: rgba(255, 255, 255, 1);;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  font-size: 1.4vw;
  font-weight: bold;
  }

.item-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-top: 15px;
}

.thumb-avatar {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  filter: opacity(.4) saturate(0) brightness(1);
  transition: .3s filter ease-in-out;
}

.list-item h2 {
  color: rgb(37, 36, 36);
  width: 90%;
  font-size: 1.7vw;
  margin-bottom: 10px;
}

.list-item h3 {
  color: rgb(37, 36, 36);
  width: 90%;
  font-size: 1.1vw;
  margin: 0;
}

.list-item p {
  color: rgb(37, 36, 36);
  font-size: 1.6vw;
  margin: 40px 0 15px 0;
  font-family: 'Caveat', cursive;
  font-variant-caps: petite-caps;
  font-weight: 500;
}

.item-desc {
  width: 90%;
}


.list-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 35vw;
  position: relative;
  z-index: 0;
  transition: .5s ease-in-out;
}

.team-done {
  position: absolute;
  width: 32%;
  height: auto;
  padding: 1.5em;
  z-index: 11;
  display: flex;
  left: 5%;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.team-done h2 {
  font-size: 3vw;
  font-weight: 800;
  margin: 0;
}

.team-done p {
  color: #7c7c7c;
  text-align: left;
  font-weight: 400;
}

.team-done p.done {
  color: #252424;
  text-align: left;
  font-weight: 800;
  font-size: 1.15vw;
}

.list-form h1 {
  color: #252424;
  margin-bottom: 10px;
  font-size: 3vw;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 700;
}

.list-form h2 {
  color: #252424;
  margin: 0;
  font-size: 1.3vw;
  text-align: left;
  font-weight: 400;
}

.list-form p {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #252424;
  font-size: 1vw;
  text-align: left;
}

.list-form input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: lightgray;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #c3c3c3;
  border-radius: 50%;
  margin-right: 4px;
  position: relative;
}

.list-form input[type="radio"]:hover {
  border-color: #1292b5;
}

.list-form input[type="radio"]::before {
  content: "";
  width: 0.60em;
  height: 0.60em;
  color: gray;
  border-radius: 50%;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #1292b5;
  position: absolute;
  transform: scale(0) translate(2px, 2px);
}

.list-form input[type="radio"]:checked::before {
  transform: scale(1) translate(2px, 2px);
}

.list-form input[type="radio"]:checked ~ label img {
  filter:opacity(1) saturate(1) brightness(1);
}


.list-form textarea {
  resize: none;
}

.list-form input[type=text], .list-form textarea {
  padding: 0.8rem;
  font-size: 1vw;
  margin: 0.3rem 0rem;
  background: none;
  border: 1px solid rgba(195, 195, 195, 0);
    border-bottom-color: #c3c3c3;
  border-bottom-width: 2px;
  border-radius: 6px;
  transition: 0.3s border ease-in-out;
  outline: none;
  color: #1292b5;
  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   font-family: 'Domine', serif;
}

.list-form input[type=text]:hover, .list-form textarea:hover {
  border-color:  rgba(195, 195, 195, 1);
  }

.list-form input[type=text]:focus, .list-form textarea:focus {
  border-color: #1292b5;
  }

input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:focus {
     transition: background-color 600000s 0s, color 600000s 0s; 
    -webkit-box-shadow: 0 0 3px 0 white !important;;
  box-shadow: 0 0 3px 0 white !important;;
  color: white !important;
  background: none !important;
  background-color: none !important;
  -webkit-text-fill-color: white !important;
}

input[data-autocompleted] {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 3px 0 white !important;;
  box-shadow: 0 0 3px 0 white !important;;
  color: white !important;
  background: none !important;
  background-color: none !important;
  -webkit-text-fill-color: white !important;
}
  

.list-form h4 {
  font-weight: normal;
    color: #252424;
    text-align: left;
    font-size: 1vw;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 15px;
}

.radio-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin-bottom: 10px;
}

.radio-avatar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}

.list-form button {
  font-weight: lighter !important;
  font-size: 1.2vw;
  padding: 0.9rem;
  margin-top: 10px;
  cursor: pointer;
  background: #0b5468;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset, 
  rgba(0, 0, 0, 0.2) 0 2px 15px 0, 
  rgba(0, 0, 0, 0.1) 0 1px 30px 0;
  transition: .3s ease-in-out;
}

.list-form button:hover, .list-form button:focus-visible, .list-form button:active {
  background:#1292b5;
  border: none;
  outline: none;
}

.formError {
  font-size: 0.9em;
  color: #ff7c93;
  text-align: left;
  transition: .3s;
}

.inactive {
  pointer-events: none;
}

.form-hide {
  transform: translateY(-1005px);
}

.form-show {
  transform: translateX(0);
}
  
.done-hide {
  transform: translateX(-1005px);
}

.done-show {
  transform: translateY(0);
}

.hide {
  display: none;
}

.author-note {
  margin-top: 40px;
}

.author {
  padding: 0;
  width: 100%;
  margin: 2em 0 0 0;
  z-index: 2;
  border-top: 1px solid #e3e3e3;
}


.author-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width:100%;
}

.author-container button {
  border-radius: 6px;
  background: #252424;
  color: #eee;
  height:40px;
  width: auto;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: .8vw;
  letter-spacing: 1px;
}

.author-container button:hover {
  background: #1292b5;
  color: #fff;
}

.author-container div {
  display: flex;
  align-items: center;
}

.author-container div > img {
  width: 80px;
  height: auto;
  border-radius: 30% 0 30%;
}

.author-container div > p {
  font-size: 1vw;
  font-weight: 400;
  color: #252424;
  margin: 0;
  padding: 1em;
}

.author-container a {
  font-size: .9em;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.author-container a:hover {
  color: #1292b5;
  text-decoration: underline;
}

.p-content {
  font-weight: 300;
}


@media  (min-width: 1400px)  {
  .list-item:hover::before {
    font-size: 1vw;
  }
  .list-form p {
   font-size: 0.9vw;
}
.list-form h2 {
  font-size: 1.1vw;
}
.list-form input[type=text], .list-form textarea, .list-form h4 {
  font-size: 0.8vw;
}
.list-form button {
  font-size: 0.9vw;
}
.author-container div > p {
  font-size: .85vw;
}
.list-item h2 {
  font-size: 1.2vw;
}
.list-item h3 {
  font-size: 0.9vw;
}
.list-item p {
  font-size: 1.2vw;
}
}


@media  (max-width: 700px)  {
  .header {
    padding: 0;
    position: relative;
    display: block;
  }
  .team-done {
    width: 95%;
  }
  .team-done h2 {
    font-size: 7vw;
  }
  .team-done p.done {
    font-size: 3.3vw;
  }
  .list-form {
    width: 100vw;
  }
  .list-form h1 {
    font-size: 8.7vw;
  }
  .list-form h2 {
    font-size: 3.9vw;
  }
  .list-form p {
    font-size: 3.6vw;
  }
  .list-form input[type=text], .list-form textarea, .list-form h4 {
    font-size: 3.2vw;
  }
  .formError {
      font-size: .7em;
  }
  .list-form button {
    font-size: 3.5vw;
  }
  .team-title {
    font-size: 4.5vw;
}
  .team-all {
    width: 100%;
  }
  .list-item {
    width: 35vw;
    border-radius: 0;
  }
  .list-item h2 {
    font-size: 4vw;
  }
  .list-item h3 {
    font-size: 2.7vw;
  }
  .list-item p {
    font-size: 3.7vw;
  }
  .list-item:hover::before {
    border-radius: 0;
    font-size: 2vw;
    font-weight: 400;
}
.author {
  border-top: 1px solid #bdbdbd;
}
.author-container div>p {
  font-size: 3vw;
}
}

